<section>
    <article>
        <img src="../../../assets/how-pp-works-4.webp" alt="">
        <p>This is only for representational purpose. The actual sign up requires you to provide other<br /> fields as well.</p>
        <div class="today">
            <h2>Start shopping with PayPal today.</h2>
            <button>Sign Up for Free</button>
            <p>For more about PayPal for your business or freelance needs,</p>
            <span>go to</span>
            <a href="">PayPal Business</a>
        </div>
        <div class="paraghlink">
            <p>All trademarks, service marks, trade names and logos appearing on the site are the property of the respective owners.</p>
        </div>
    </article>
</section>