<nav>
    <ul>
        <li>
            <a href="/" class="nav-link">Help</a>
        </li>
        <li>
            <a href="/" class="nav-link">Contact</a>
        </li>
        <li>
            <a href="/" class="nav-link">Fees</a>
        </li>
        <li>
            <a href="/" class="nav-link">Security</a>
        </li>
        <li>
            <a href="/" class="nav-link">Shop</a>
        </li>
        <li>
            <a href="/" class="nav-link">Refer and Earn</a>
        </li>
    </ul>
</nav>