<section id="sliderBlock">
    <article>
        <div>
            <h1>PAY WITH PAYPAL.<br /> SAFE HAI.</h1>
            <p>Whether you're shopping in India or around the world, a PayPal <br /> account lets you check out safer, faster and easier. That's why we're <br /> accepted in over 200 markets and trusted by over 325 million active<br /> accounts.</p>
            <a href="">
                <button>Sign Up for Free</button>
            </a>
        </div>
        <div class="two">
            <img src="../../assets/hero-banner.jpg" alt="">
        </div>
        <div class="three">
            <p>Looking for PayPal for your business?</p>
            <a href="">
              Go to Business Solutions.</a>
        </div>
        <div class="four">
            <h4 class="headline">Have a query?&nbsp;
                <a href="">Click here</a>&nbsp;to reach Help Centre</h4>
        </div>
        <div class="five">
            <h2>The safer, easier way to pay –&nbsp;in India and around the world.</h2>
        </div>
        <div class="six">
            <img src="../../assets/protection.svg" alt="">
            <b>180-Day Buyer Protection</b>
            <p>Item not as described? You have<br /> our first-of-its-kind 180-day<br /> refund window to get a full refund <br />on your purchase.</p>
            <a href="">Learn more</a>
        </div>
        <div class="seven">
            <img src="../../assets/one-account-india-abroad.svg" alt="">
            <b class="one">One Account for India and  </b>
            <b class="two">Abroad</b>
            <p>Shop locally and globally with just <br />one PayPal account.</p>
            <a href="">Learn more</a>
        </div>
        <div class="eight">
            <img src=".../../assets/mail-paypalme-pink.svg" alt="">
            <b>Skip the Logins</b>
            <p>Check out faster and easier with<br /> One Touch™ and you'll never need <br />to enter your login details again</p>
            <a href="">Learn more</a>
        </div>
        <div class="nine">
            <img src="../../assets/SecureTech-pink.svg" alt="">
            <b>Worry-free Shopping</b>
            <p>Shop with ease and confidence.<br /> Your financial details are never<br /> shared, not even with the seller.</p>
            <a href="">Learn more</a>
        </div>
        <div class="ten">
            <h2>See how PayPal works.</h2>
            <p>Whether you're shopping or selling with PayPal, we make it <br /> faster, safer and easier for everyone to shop or sell globally<br /> with confidence.</p>
            <video width="320" height="240" controls>
              <source src="../../assets/watch.mkv" type="video/mp4">
                </video>
        </div>
        <!----------paypal work block end here----->

        <!-------paypal image block starts here-------->
        <div class="imageblock">
            <h2>Pay with PayPal at leading Indian brands. Safe Hai.</h2>
            <img src="../../assets/swiggy.webp" alt=" ">
            <h3>Order food at home</h3>
        </div>
        <div class="imaeg">
            <img src="../../assets/image.webp" alt="">
            <h3>Buy Medicines from India's <br />trusted medicine store</h3>
        </div>
        <div class="med">
            <img src="../../assets/medlife.webp" alt="">
            <h3>India's Largest Online <br />Pharmacy</h3>
        </div>
        <div class="net">
            <img src="../../assets/netmeds.webp" alt="">
            <h3>Buy Medicines online,fast<br /> delivery</h3>
        </div>
        <div class="easy">
            <img src="../../assets/pharm.webp" alt="">
            <h3>Buy Medicines online</h3>
        </div>
        <div class="dunzo">
            <img src="../../assets/dunzo.webp" alt="">
            <h3>Get free online delivery for<br /> food, groceries, medicines</h3>
        </div>
        <div class="big">
            <img src="../../assets/big-basket.webp" alt="">
            <h3>Supermarket delivered to<br /> your doorstep​</h3>
        </div>
        <div class="sky">
            <img src="../../assets/tatasky.webp" alt="">
            <h3>Recharge your TataSky <br />account now</h3>
            <a href="">Discover more places to shop with PayPal</a>
        </div>
    </article>
</section>